.container {
	margin: 0;
	padding: 0;
}

.header {
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header .search {
	width: 30%;
	height: 60%;
	display: flex;
	align-items: center;
	margin: 0 auto;
	padding: 0 20px;
	border-radius: 8px;
	background: #888;
	color: white;
	font-size: 1.5rem;
}

.header .search::placeholder {
	color: #ccc;
}

.header .client-add {
	width: 150px;
	height: 60%;
	background: black;
	color: white;
	border-radius: 8px;
	font-size: 1.25rem;
}

.header .client-edit {
	width: 150px;
	height: 60%;
	background: black;
	color: white;
	border-radius: 8px;
	font-size: 1.25rem;
}

.header .title {
	margin: 0;
	padding: 0 20px;
	height: 100%;
	display: flex;
	align-items: center;
	background: black;
	font-weight: normal;
	border-radius: 8px;
}

.title a {
	color: white;
	text-decoration: none;
}

.title:hover a {
	cursor: pointer;
}

.clients {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.clients-heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	width: 100%;
	border-radius: 8px;
}

.clients-heading p {
	width: 100%;
}

.clients-heading div {
	width: 100%;
}

.clients-client {
	width: 100%;
	border-radius: 8px;
	overflow: hidden;
}

.clients-client a {
	color: white;
	text-decoration: none;
}

.clients-client:hover a {
	cursor: pointer;
}

.client-name {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	height: 100px;
	padding: 10px 0;
}

.client-name:hover {
	background: #444;
}

.client-name > * {
	text-align: left;
	width: 100%;
}

.client-name a {
	height: 100%;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.client {
	/* background: red; */
	margin-top: 20px;
}

.client-card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}

.client-info {
	width: 100%;
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #555;
	color: white;
	border-radius: 8px;
}

.client-fullname {
	position: relative;
}

.premium {
	position: absolute;
	top: 10px;
	right: -10%;
	width: 10px;
	height: 10px;
	background: yellow;
	border-radius: 50%;
}

.regular {
	position: absolute;
	top: 10px;
	right: -10%;
	width: 10px;
	height: 10px;
	background: aqua;
	border-radius: 50%;
}

.account-number {
	font-weight: bold;
}

.type {
	width: 100%;
	display: flex;
	gap: 20px;
	justify-content: center;
}

.address {
	width: 100%;
	display: flex;
	gap: 10px;
	justify-content: center;
}

.client-money {
	width: 100%;
	height: 300px;
	background: #555;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	border-radius: 8px;
}

.client-money p {
	padding: 0 40px;
}
