h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

.container {
	margin: 0;
	padding: 0;
}

.login-container {
	display: grid;
	place-content: center;
	gap: 1rem;
}

.login-container h2 {
	color: white;
	font-size: 2rem;
}

.login-container .login-error {
	color: #ff3e4e;
	font-size: 1.125rem;
}

.login-container form {
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.login-container div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.login-container label {
	color: white;
	font-size: 1.5rem;
}

.login-container input {
	font-size: 1.5rem;
	text-indent: 1rem;
}

.login-container button {
	padding: 0.5rem 2rem;
	font-size: 1.5rem;
	font-weight: bold;
	color: #3498db;
	background: #2c3e50;
	border: 1px solid #3498db;
	border-radius: 8px;
	transition: all 0.1s ease-in-out;
}

.login-container button:hover {
	cursor: pointer;
	background: #3498db;
	color: white;
}

.header {
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header .search {
	width: 30%;
	height: 60%;
	display: flex;
	align-items: center;
	margin: 0 auto;
	padding: 0 20px;
	border-radius: 8px;
	background: #888;
	color: white;
	font-size: 1.5rem;
}

.header .search::placeholder {
	color: #ccc;
}

.header .client-add {
	width: 150px;
	height: 60%;
	background: black;
	color: white;
	border-radius: 8px;
	font-size: 1.25rem;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header .client-add:hover {
	cursor: pointer;
}

.create--client--wrapper {
	margin-top: 20px;
}

.create-client {
	margin-top: 20px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.create-client-left {
	width: 50%;
}

.create-client-right {
	width: 50%;
}

.create-client-inputs {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.create-client label {
	color: white;
	padding: 0 0px;
	margin: 10px 0 5px;
}

.create-client input {
	height: 40px;
	padding: 0 20px;
	border: none;
	background: #ddd;
	color: black;
	font-size: 1.5rem;
}

@media (max-width: 876px) {
	.create-client {
		flex-direction: column;
	}

	.create-client-left {
		width: 100%;
	}

	.create-client-right {
		width: 100%;
	}
}

.country-selector-wrapper {
	width: 100%;
	margin: 10px 0 0;
	display: flex;
	justify-content: space-between;
	color: black;
	font-size: 1.25rem;
}

.country-selector-wrapper label {
	margin: 0;
}

.country-select {
	height: 100%;
	width: 60%;
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	line-height: 30px;
}

.country-select select {
	width: 100%;
	font-size: 1.2rem;
	background: #ccc;
}

.country-select select:hover {
	cursor: pointer;
}

.country-code {
	width: 30%;
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	border-radius: 10px;
	line-height: 30px;
	color: #fcfcfc;
	background: #2c3e50;
}

.country-code .error {
	color: #ff3e4e;
}

.get-new-number {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.get-new-number input {
	width: 40%;
	background: #aaa;
	color: #eee;
	background: linear-gradient(45deg, #aaa, #2c3e50);
}

.get-new-number input:hover {
	cursor: not-allowed;
}

.currency-wrapper {
	width: 100%;
	margin: 10px 0 0;
	display: flex;
	justify-content: space-between;
	color: black;
	font-size: 1.25rem;
}

.currency-name {
	height: 100%;
	width: 60%;
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	line-height: 30px;
	color: white;
}

.currency-code {
	width: 30%;
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	border-radius: 10px;
	line-height: 30px;
	color: #fcfcfc;
	background: #2c3e50;
}

.currency-code .error {
	color: #ff3e4e;
}

.button-get-new-number {
	width: 40%;
	height: 40px;
	border: none;
	background: black;
	color: white;
	font-size: 1.125rem;
	border-radius: 8px;
	transition: all 200ms ease;
}

.button-get-new-number:hover {
	background: linear-gradient(45deg, #aaa, #2c3e50);
	cursor: pointer;
}

.account-types {
	width: 100%;
	height: 250px;
	display: flex;
	gap: 1.5rem;
	margin: 2rem 0;
}

.types {
	width: 33%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border-radius: 1rem;
	transition: all 300ms ease;
}

.type-of-customer {
	height: 100%;
}

.type-of-account {
	height: 100%;
}

.credit-payment {
	height: 100%;
}

.account-types .card-label {
	color: white;
	font-size: 1.25rem;
	width: 100%;
	margin: 1rem 0;
}

.type-buttons {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.25rem;
}

.type-buttons .button {
	border: none;
	border-radius: 8px;
	width: 100%;
	transition: all 200ms ease;
	padding: 0.5rem 0;
	font-size: 1.125rem;
}

.type-buttons .button.selected {
	background: linear-gradient(45deg, #3498db, #2c3e50);
	color: white;
}

.type-buttons .button.selected:hover {
	background: linear-gradient(45deg, #3498db, #2c3e50);
	cursor: not-allowed;
}

.type-buttons .button:hover {
	cursor: pointer;
	background: #888;
	color: white;
	background: linear-gradient(45deg, #aaa, #2c3e50);
}

.create-new-client-button {
	margin: 2rem 0;
	padding: 1rem 2rem;
	border: none;
	border-radius: 8px;
	font-size: 1rem;
	font-weight: bold;
	transition: all 200ms ease;
}

.create-new-client-button:hover {
	cursor: pointer;
	background: linear-gradient(45deg, #aaa, #2c3e50);
	color: white;
}

.error-message {
	margin: 0 20px;
	display: inline-block;
	font-size: 1.25rem;
	color: #ff3e4e;
}

.header .client-edit {
	width: 150px;
	height: 60%;
	background: black;
	color: white;
	border-radius: 8px;
	font-size: 1.25rem;
}

.header .title {
	margin: 0;
	padding: 0 20px;
	height: 100%;
	display: flex;
	align-items: center;
	background: black;
	font-weight: normal;
	border-radius: 8px;
}

.title a {
	color: white;
	text-decoration: none;
}

.title:hover a {
	cursor: pointer;
}

.dashboard-wrapper {
	margin-top: 20px;
}

.premium-customers-by-country {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 1rem;
	color: white;
	padding: 2rem;
	border: 1px solid grey;
	border-radius: 1rem;
	background: #2c3e50;
	background: linear-gradient(-45deg, #aaa, #2c3e50);
	box-shadow: 0 5px 10px 0 rgba(255, 255, 255, 0.1);
}

.premium-customers-by-country label {
	margin-bottom: 10px;
	font-size: 1.25rem;
}

.premium-customers-by-country select {
	height: max-content;
	padding: 0.5rem 0;
	border: 1px solid grey;
	border-radius: 8px;
}

@media (max-width: 876px) {
	.premium-customers-by-country select {
		width: 50%;
	}
}

@media (max-width: 552px) {
	.premium-customers-by-country select {
		width: 100%;
	}
}

.customers-card-limit-label {
	margin-top: 20px;
	color: white;
	font-size: 1.5rem;
}

.customers-card-limit {
	margin-top: 10px;
	color: white;
	border-radius: 1rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	gap: 1rem;
}

@media (max-width: 960px) {
	.customers-card-limit {
		place-items: center;
	}
}

.customer-card-limit {
	width: 350px;
	max-width: 100%;
	padding: 40px 20px;
	display: flex;
	flex-direction: column;
	background: radial-gradient(
		circle at 50% -50%,
		hsl(240deg 100% 67%) 0%,
		hsl(240deg, 50%, 16%) 80%
	);
	box-shadow: 0 5px 10px 0 rgba(255, 255, 255, 0.1);
	border: 1px solid grey;
	border-radius: 10px;
	/* font-weight: bold; */
}

.customer-card-limit-premium {
	background: radial-gradient(
		circle at 50% -50%,
		hsl(45deg 100% 67%) 0%,
		hsl(45deg, 50%, 16%) 80%
	);
}

.customer-card-limit > p:nth-child(1) {
	font-size: 1.5rem;
	font-weight: bold;
}

.customer-card-limit .card-limit-view-more {
	width: max-content;
	margin-top: 20px;
	padding: 0.5rem 1rem;
	font-weight: bold;
	color: white;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid grey;
	border-radius: 8px;
	background: linear-gradient(45deg, #3498db, #2c3e50);
}

@media (max-width: 960px) {
	.customer-card-limit {
		width: calc(100% - 40px);
	}
}

.decimal {
	font-size: 1rem;
	font-weight: bold;
	opacity: 0.5;
}

.dashboard-link {
	width: 150px;
	height: 100%;
	margin-left: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dashboard-link a {
	color: #ddd;
	text-decoration: none;
	font-size: 1.125rem;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.dashboard-link span {
	display: inline;
}

@media (max-width: 1000px) {
	.dashboard-link {
		width: max-content;
		margin-left: 0;
		padding: 0 0.5rem;
	}

	.dashboard-link span {
		display: none;
	}

	.dashboard-link a::before {
		content: '\f201';
		font-family: FontAwesome;
		font-size: 1.5rem;
		display: inline-block;
		margin: 0 10px;
	}
}

.dashboard-link a:hover {
	color: white;
}

.premium-customers {
	margin-top: 20px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	gap: 10px;
	font-size: 1.5rem;
	color: white;
}

.premium-customers span {
	font-weight: bold;
}

.clients {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.clients-heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	width: 100%;
}

.clients-heading p {
	width: 100%;
}

.clients-heading div {
	width: 100%;
}

.clients-client {
	width: 100%;
	height: max-content;
	border-radius: 8px;
	overflow: hidden;
}

.clients-client:nth-child(odd) {
	background: rgba(0, 0, 0, 0.2);
}

.clients-client-bg {
	width: 100%;
	border-radius: 8px;
	overflow: hidden;
	background: #111;
}

.clients-client a {
	color: white;
	text-decoration: none;
}

.clients-client:hover a {
	cursor: pointer;
}

.client-name {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	height: 80px;
}

.client-name:hover {
	background: #444;
}

.client-name > * {
	text-align: left;
	width: 100%;
}

.client-name a {
	height: 100%;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(45deg, #aaa, #2c3e50);
	color: white;
	font-size: 1.25rem;
	font-weight: bold;
	text-decoration: none;
	border-radius: 8px;
}

.client-name a:hover {
	cursor: pointer;
}

.client {
	margin-top: 20px;
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.button-go-back {
	width: 150px;
	height: 50px;
	background: black;
	color: white;
	border-radius: 8px;
	font-size: 1.25rem;
}

.button-go-back:hover {
	cursor: pointer;
}

.button-send-money {
	width: 150px;
	height: 50px;
	background: black;
	color: white;
	border-radius: 8px;
	font-size: 1.25rem;
}

.button-send-money:hover {
	cursor: pointer;
}

.client-card--wrapper {
	width: 100%;
	/* display: flex; */
}

.client-card--container {
	/* width: 80%; */
	/* margin: 0 auto; */
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	/* background: orange; */
}

.client-info {
	width: 100%;
	height: 400px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #555;
	color: white;
	border-radius: 8px;
}

.credit-card--info {
	width: calc(100% - 40px);
	height: 100%;
	padding: 20px;
	display: flex;
	border-radius: 8px;
}

.credit-card--info.premium {
	background: radial-gradient(
		circle at 50% -50%,
		hsl(45deg 100% 67%) 0%,
		hsl(45deg, 50%, 16%) 80%
	);
}

.credit-card--info.regular {
	background: radial-gradient(
		circle at 50% -50%,
		hsl(240deg 100% 67%) 0%,
		hsl(240deg, 50%, 16%) 80%
	);
}

.card-left {
	width: 80%;
}

.card-right {
	width: 20%;
}

.client-fullname {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.client-fullname h1 {
	margin: 0;
	padding: 0;
	font-size: 1.5rem;
}

.credit-card--info .client-fullname {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.account-number {
	font-size: 1.5rem;
	font-weight: bold;
}

.switch-account-container {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.button-switch {
	margin: 20px 0;
	padding: 10px;
	border: none;
	display: flex;
	align-self: flex-end;
	border-radius: 8px;
	font-size: 1.25rem;
	font-weight: bold;
	background: linear-gradient(45deg, #aaa, #2c3e50);
	color: white;
}

.button-switch:hover {
	cursor: pointer;
}

.button-switch.premium {
	background: linear-gradient(45deg, rgb(37, 37, 151), #75aadf);
}

.button-switch.regular {
	background: linear-gradient(45deg, rgb(126, 51, 16), rgb(214, 214, 73));
}

.type {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
	gap: 20px;
	font-size: 1rem;
	font-weight: bold;
}

.address {
	width: calc(100% - 20px);
	padding-left: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	background: #2c3e50;
	background: linear-gradient(-45deg, #aaa, #2c3e50);
	border-radius: 8px;
}

.address-button {
	width: 100px;
	margin-left: auto;
	white-space: normal;
	background: #75aadf;
	background: linear-gradient(45deg, rgb(37, 37, 151), #75aadf);
	color: white;
	border: none;
	border-radius: 8px;
	font-size: 1.25rem;
}

.address-button:hover {
	cursor: pointer;
}

.client-money {
	width: 100%;
	height: 400px;
	padding: 20px;
	background: #555;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 1rem;
	border-radius: 8px;
	font-weight: bold;
}

.money-deposit {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* gap: 1rem; */
}

.money-deposit p {
	margin-right: 50px;
}

.money-deposit button {
	width: max-content;
	padding: 0 20px;
	/* background: black; */
	color: white;
	border: 1px solid grey;
	border-radius: 8px;
	font-size: 1.25rem;
	margin-left: auto;
	background: linear-gradient(-45deg, #aaa, #2c3e50);
}

.money-deposit button:hover {
	cursor: pointer;
}

.input-amount {
	position: relative;
}

.money-deposit input {
	width: 250px;
	height: 70%;
	margin: 0 auto;
	padding: 0 20px;
	border-radius: 8px;
	background: #444;
	color: white;
	font-size: 1.5rem;
	position: relative;
}

.money-deposit .input-amount .withdraw-error {
	position: absolute;
	top: 100%;
	left: 0;
}

.money-deposit input::placeholder {
	color: #ccc;
}

.money-deposit .submit-button {
	position: absolute;
	width: 100px;
	height: 100%;
	top: 0;
	right: 0;
	padding: 0;
	border: 1px solid grey;
}

@media (max-width: 1000px) {
	.client-card--container {
		display: flex;
		flex-direction: column;
	}

	.client-info {
		width: calc(100% - 40px);
	}

	.client-money {
		width: calc(100% - 40px);
		height: max-content;
	}

	.hide-on-mobile {
		display: none;
	}

	.client-name a {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
}

@media (max-width: 600px) {
	.client-info .address {
		width: 100%;
		gap: 0.5rem;
		padding-left: 0;
	}
}
.modal-bg {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100vw;
	height: 100%;
	z-index: 20;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 50;
}

.modal {
	width: 450px;
	height: 400px;
	background: white;
	color: white;
	z-index: 10;
	border-radius: 8px;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.modal-money {
	width: 750px;
	height: 600px;
	background: white;
	color: white;
	z-index: 10;
	border-radius: 8px;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}

.modal-header {
	height: 80px;
	background: white;
	overflow: hidden;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
}

.heading {
	margin: 0;
	padding: 10px;
	color: #2c3e50;
	font-weight: 500;
	font-size: 1.5rem;
	text-align: center;
}

.column {
	width: 100%;
	display: flex;
	gap: 10px;
	color: black;
}

.from {
	width: 50%;
	height: 300px;
	padding-top: 65px;
}

.label {
	margin: 0;
}

.value {
	margin: 0;
}

.to {
	width: 50%;
}

.to label {
	color: black;
}

.column-heading {
	position: absolute;
	top: -30px;
	opacity: 0.1;
	font-size: 8em;
	font-weight: 900;
	user-select: none;
}

.to .column-heading {
	right: 0;
}

.search-container {
	width: 100%;
}

.search-container form {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
}

.search-container form .form-wrapper {
	width: 100%;
}

.search-container form .form-wrapper .inputs input {
	width: 30%;
	height: 40px;
	border: 1px solid black;
	border-radius: 8px;
}

form {
	width: 100%;
	color: white;
}

.form-wrapper {
	width: 40%;
}

.form-wrapper > .error {
	color: #ff3e4e;
}

@media screen and (max-width: 1200px) {
	.centered .modal-top .column {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.modal-money {
		width: 100%;
		height: 100%;
	}

	.form-wrapper {
		width: 100%;
	}

	.from {
		margin: 0 auto;
	}
	.from .column-heading {
		width: max-content;
		position: absolute;
		left: 0;
	}

	.to {
		margin: 0 auto;
		position: relative;
	}

	.to .column-heading {
		width: max-content;
		position: absolute;
		left: -50%;
	}
	.inputs .search {
		padding: 0;
		z-index: 100;
	}
}

@media (max-width: 960px) {
	.centered {
		width: 100%;
		/* margin: 0 auto; */
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.from {
		margin: 0 auto;
		position: relative;
	}

	.from .column-heading {
		width: max-content;
		position: absolute;
		left: -50%;
	}

	.to {
		position: relative;
	}

	.to .column-heading {
		width: max-content;
		position: absolute;
		left: -50%;
	}

	.header .client-add {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
}

.inputs {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

.inputs .search {
	height: 50px;
	font-size: 1.75rem;
	text-align: center;
	border: none;
	z-index: 100;
}

.search {
	width: 50%;
	height: 30px;
	margin: 0 auto;
	padding: 0 20px;
	border-radius: 8px;
	background: linear-gradient(to right, #2c3e50, #3498db);
	color: white;
	font-size: 1rem;
	overflow: hidden;
}

.search.error {
	box-shadow: inset 0 0 5px 0 #ff3e4e;
}

.funds-error {
	position: absolute;
	top: 43%;
	right: 22%;
	padding: 0 10px;
	height: 30px;
	background: black;
	color: red;
	font-weight: bold;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
}

.modal-inputs {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.modal-inputs p {
	padding: 0 40px;
	margin-top: 0;
	color: black;
	font-size: 1.5rem;
	font-weight: 900;
	line-height: 30px;
}

.modal-inputs span {
	padding: 0 40px;
	color: black;
	font-size: 1.125rem;
	font-weight: normal;
}

.modal-inputs label {
	color: black;
	padding: 0 20px;
}

.modal-inputs input {
	height: 50px;
	padding: 0 20px;
	border: none;
	background: #ddd;
	color: black;
	font-size: 1.5rem;
}

.money-input {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.money-input label {
	color: black;
}

.modal-content {
	padding: 10px;
	padding-bottom: 60px;
	font-size: 1.125rem;
	color: #2c3e50;
	text-align: center;
}

.modal-actions {
	position: absolute;
	bottom: 2px;
	margin-bottom: 10px;
	width: 100%;
}

.actions-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.delete-btn {
	margin-top: 10px;
	cursor: pointer;
	font-weight: 500;
	padding: 11px 28px;
	border-radius: 12px;
	font-size: 0.8rem;
	border: none;
	color: #fff;
	background: #ff3e4e;
	transition: all 0.25s ease;
}

.delete-btn:hover {
	box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
	transform: translateY(-5px);
	background: #ff3e4e;
}

.cancel-btn {
	margin-top: 10px;
	cursor: pointer;
	font-weight: 500;
	padding: 11px 28px;
	border-radius: 12px;
	font-size: 0.8rem;
	border: none;
	color: #2c3e50;
	background: #fcfcfc;
	border: 1px solid #ff3e4e;
	transition: all 0.25s ease;
}

.cancel-btn:hover {
	box-shadow: none;
	transform: none;
	background: whitesmoke;
}

@media (max-width: 960px) {
	.modal-bottom {
		position: relative;
	}
}
